{{- $git_name := promptString "git_name" -}}
{{- $git_email := promptString "git_email" -}}
{{- $git_signingkey := promptString "git_signingkey" -}}
[data.git]
  name = "{{ $git_name }}"
  email = "{{ $git_email }}"
  signingkey = "{{ $git_signingkey }}"

[data.proxy]
  http = "http://localhost:3148"
  https = "http://localhost:3148"
  exclusions = [
    "localhost",
    "127.0.0.0/8",
    "10.0.0.0/8",
    "172.16.0.0/12",
    "192.168.0.0/16"
  ]
