prefix=/home/aroussel/.npm-packages
cafile=/etc/ssl/certs/ca-certificates.crt
{{- if hasKey . "npmrc" }}
always-auth={{ .npmrc.always_auth }}
{{- end }}

{{ if hasKey . "npmrc" -}}
# Registries
{{ .npmrc.registries }}
{{- end -}}
