[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
  signingkey = {{ .git.signingkey }}

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status -sb
  ci = commit
  br = branch
  co = checkout
  sh = show
  pu = pull

[pull]
  rebase = false

[commit]
  # Automatically sign commits with gpg user.signingkey
  gpgsign = true

[init]
  defaultBranch = main

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
