#!/usr/bin/env bash
set -e

# Install Google Cloud SDK
# https://cloud.google.com/sdk/docs/quickstart-debian-ubuntu?hl=fr
#
curl -sS https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo tee /etc/apt/trusted.gpg.d/google-cloud-sdk.gpg >/dev/null
sudo tee /etc/apt/sources.list.d/google-cloud-sdk.list &>/dev/null <<EOF
deb [signed-by=/etc/apt/trusted.gpg.d/google-cloud-sdk.gpg] http://packages.cloud.google.com/apt cloud-sdk main
EOF

# Install PostgreSQL APT sources
# https://www.postgresql.org/download/linux/debian/
#
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo tee /etc/apt/trusted.gpg.d/pgdg.asc >/dev/null
sudo tee /etc/apt/sources.list.d/pgdg.list &>/dev/null <<EOF
deb http://apt.postgresql.org/pub/repos/apt {{ .chezmoi.osRelease.versionCodename }}-pgdg main
EOF

# Install kubectl APT sources
# https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management
#
sudo curl -fsSLo /etc/apt/trusted.gpg.d/kubernetes.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
sudo tee /etc/apt/sources.list.d/kubernetes.list &>/dev/null <<EOF
deb [signed-by=/etc/apt/trusted.gpg.d/kubernetes.gpg] https://apt.kubernetes.io/ kubernetes-xenial main
EOF

# Install Docker APT sources
# https://docs.docker.com/engine/install/debian/
#
curl -fsSL https://download.docker.com/linux/{{ .chezmoi.osRelease.id }}/gpg | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/docker.gpg
sudo tee /etc/apt/sources.list.d/docker.list &>/dev/null <<EOF
deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/docker.gpg] https://download.docker.com/linux/{{ .chezmoi.osRelease.id }} {{ .chezmoi.osRelease.versionCodename }} stable
EOF

# Install Node.js
# See https://github.com/nodesource/distributions/blob/master/README.md
#
curl -s https://deb.nodesource.com/gpgkey/nodesource.gpg.key | sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/nodesource.gpg
sudo tee /etc/apt/sources.list.d/nodesource.list &>/dev/null <<EOF
deb https://deb.nodesource.com/node_15.x {{ .chezmoi.osRelease.versionCodename }} main
deb-src https://deb.nodesource.com/node_15.x {{ .chezmoi.osRelease.versionCodename }} main
EOF

# Install Hashicorp APT sources
curl -fsSL https://apt.releases.hashicorp.com/gpg |sudo gpg --dearmor --yes -o /etc/apt/trusted.gpg.d/hashicorp.gpg
sudo tee /etc/apt/sources.list.d/hashicorp.list &>/dev/null <<EOF
deb [arch={{ .chezmoi.arch }}] https://apt.releases.hashicorp.com {{ .chezmoi.osRelease.versionCodename }} main
# deb-src [arch={{ .chezmoi.arch }}] https://apt.releases.hashicorp.com {{ .chezmoi.osRelease.versionCodename }} main
EOF

# Install packages
sudo apt-get update
sudo apt-get install --yes \
  docker-ce \
  git-lfs \
  jq \
  kubectl \
  google-cloud-sdk \
  nodejs \
  postgresql-client \
  terraform \
  unzip \
  zip
