{{/* boolean feature tags */}}
{{- $corporate := false -}}{{/* true if this machine should have corporate configuration (proxy, private registries) */}}
{{- $java := false -}}{{/* true if this machine is used for Java work */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $nodejs := false -}}{{/* true if this machine is used for Node.js work */}}
{{- $terraform := false -}}{{/* true if this machine is used for Terraform work */}}
{{- $hugo := false -}}{{/* true if this machine is used for Hugo work */}}
{{- $github := false -}}{{/* true if this machine is used for Github work */}}
{{- $nix := false -}}{{/* true if this machine is used for Nix work */}}
{{- $aws := false -}}{{/* true if this machine is used for AWS work */}}
{{- $ruby := false -}}{{/* true if this machine is used for Ruby work */}}
{{- "" -}}

{{- if stdinIsATTY -}}
{{- $corporate = promptBool "corporate" -}}
{{- $java = promptBool "java" -}}
{{- $kubernetes = promptBool "kubernetes" -}}
{{- $nodejs = promptBool "nodejs" -}}
{{- $terraform = promptBool "terraform" -}}
{{- $hugo = promptBool "hugo" -}}
{{- $github = promptBool "github" -}}
{{- $nix = promptBool "nix" -}}
{{- $aws = promptBool "aws" -}}
{{- $ruby = promptBool "ruby" -}}
{{- end -}}

[data]
corporate = {{ $corporate }}
java = {{ $java }}
kubernetes = {{ $kubernetes }}
nodejs = {{ $nodejs }}
terraform = {{ $terraform }}
hugo = {{ $hugo }}
github = {{ $github }}
ruby = {{ $ruby }}

[data.aws]
enable = {{ $aws }}
default = {
  region = "eu-west-3",
  output = "json",
  credential_process = "gopass show -n aws/anthony.roussel17@gmail.com.json"
}

[data.git]
name = "Anthony Roussel"
email = "anthony.roussel17@gmail.com"
signingkey = "291831CAD18D76DC0715465F379FF498F4BDCCD9"

{{- if $corporate }}
[data.proxy]
http = "http://localhost:3128"
https = "http://localhost:3128"
exclusions = [
  "localhost",
  "127.0.0.0/8",
  "10.0.0.0/8",
  "172.16.0.0/12",
  "192.168.0.0/16"
]

[data.npmrc]
registry = "http://localhost:8080"
always_auth = true
registries = """
"""
{{- end }}

[data.docker]
creds_store = "secretservice"

[data.ssh]
hosts = [
  {
    host = "github.com",
    user = "git",
    identity_file = "~/.ssh/keys/xps",
    identity_agent = "/run/user/1000/gnupg/S.gpg-agent.ssh"
  }
]

[data.nix]
enable = {{ $nix }}
username = "aroussel"
home_directory = "/home/aroussel"

[data.gnupg]
pinentry_program = "/usr/bin/pinentry-curses"
