{{/* boolean feature tags */}}
{{- $kubernetes := false -}}{{/* true if this machine is used for Kubernetes work */}}
{{- $github := false -}}{{/* true if this machine is used for Github work */}}
{{- $nix := false -}}{{/* true if this machine is used for Nix work */}}
{{- $aws := false -}}{{/* true if this machine is used for AWS work */}}
{{- "" -}}

{{- if stdinIsATTY -}}
{{- $kubernetes = promptBool "kubernetes" -}}
{{- $github = promptBool "github" -}}
{{- $nix = promptBool "nix" -}}
{{- $aws = promptBool "aws" -}}
{{- end -}}

[data]
java = {{ $java }}
kubernetes = {{ $kubernetes }}
github = {{ $github }}

[data.aws]
  enable = {{ $aws }}

[data.aws.default]
  region = "eu-west-3"
  output = "json"
  credential_process = "gopass show -n aws/anthony.roussel17@gmail.com.json"

[data.aws.rotate_keys]
  enable = true
  profile = "default"

[data.git]
  name = "Anthony Roussel"
  email = "anthony.roussel17@gmail.com"
  signingkey = "291831CAD18D76DC0715465F379FF498F4BDCCD9"

[data.proxy]
  http = "http://localhost:3128"
  https = "http://localhost:3128"
  exclusions = [
    "localhost",
    "127.0.0.0/8",
    "10.0.0.0/8",
    "172.16.0.0/12",
    "192.168.0.0/16"
  ]

[data.npmrc]
  enable = true
  registry = "http://localhost:8080"
  always_auth = true

[[data.npmrc.registries]]
  scope = "@anthonyroussel"
  registry = "https://npm.pkg.github.com"

[[data.npmrc.auth_tokens]]
  registry = "npm.pkg.github.com"
  gopass_entry = "anthonyroussel_github_npm_token"

[data.docker]
  creds_store = "secretservice"

[[data.ssh.hosts]]
  host = "github.com"
  user = "git"
  identity_file = "~/.ssh/keys/xps"
  identity_agent = "/run/user/1000/gnupg/S.gpg-agent.ssh"

[[data.ssh.hosts]]
  host = "bastion"
  host_name = "10.42.42.1"
  user = "dev"
  identity_file = "~/.ssh/keys/xps"

[data.nix]
enable = {{ $nix }}
username = "aroussel"
home_directory = "/home/aroussel"
direnv = true

[data.gnupg]
pinentry_program = "/usr/bin/pinentry-curses"

[data.podman]
postgres = true
memcached = true
redis = true

[[data.pgpass]]
  host = "localhost"
  port = "5432"
  database = "postgres"
  username = "postgres"
  gopass_entry = "postgres"

[[data.zsh.custom_plugins]]
  name = "awesome-zsh-plugin"
  type = "git-repo"
  url = "ssh://github.com/awesome-zsh-plugin/awesome-zsh-plugin"
