{{- if .terraform }}
terraform {{ .versions.terraform }}
doctl {{ .versions.doctl }}
{{- end }}

{{- if .kubernetes }}
kubectl {{ .versions.kubectl }}
helm {{ .versions.helm }}
{{- end }}

{{- if .nodejs }}
nodejs {{ .versions.nodejs }}
{{- end }}

{{- if .java }}
java temurin-{{ .versions.java }}
maven {{ .versions.maven }}
{{- end }}

{{- if .hugo }}
hugo {{ .versions.hugo }}
{{- end }}
