prefix=/home/aroussel/.npm-packages
cafile=/etc/ssl/certs/ca-certificates.crt
always-auth={{ .npmrc.always_auth }}

{{- range .npmrc.registries }}
{{ .scope }}:registry={{ .registry }}
{{- end }}

{{- range .npmrc.auth_tokens }}
//{{ .registry }}/:_authToken={{ gopass .gopass_entry }}
{{- end }}
