{{- with .npmrc }}
prefix=/home/aroussel/.npm-packages
cafile=/etc/ssl/certs/ca-certificates.crt
{{- if hasKey . "always_auth" }}
always-auth={{ .always_auth }}
{{- end }}

{{- if hasKey . "registries" }}
{{- range .registries }}
{{ .scope }}:registry={{ .registry }}
{{- end }}
{{- end }}

{{- if hasKey . "auth_tokens" }}
{{- range .auth_tokens }}
//{{ .registry }}/:_authToken={{ gopass .gopass_entry }}
{{- end }}
{{- end }}
{{- end }}
