{
  "credsStore": "{{ .docker.creds_store }}",
  "proxies": {
{{- if hasKey . "proxy" }}
    "default": {
      "httpProxy": "{{ .proxy.http }}",
      "httpsProxy": "{{ .proxy.https }}",
      "noProxy": "{{ .proxy.exclusions | join "," }}"
    }
{{- end }}
  },
  "credHelpers": {
    "gcr.io": "gcloud",
    "us.gcr.io": "gcloud",
    "eu.gcr.io": "gcloud",
    "asia.gcr.io": "gcloud",
    "staging-k8s.gcr.io": "gcloud",
    "marketplace.gcr.io": "gcloud"
  }
}
