{
  "credsStore": "{{ .docker.creds_store }}",
  "proxies": {
{{- if hasKey . "proxy" }}
    "default": {
      "httpProxy": "{{ .proxy.http }}",
      "httpsProxy": "{{ .proxy.https }}",
      "noProxy": "{{ .proxy.exclusions | join "," }}"
    }
{{- end }}
  }
}
