AddKeysToAgent yes

{{- with get . "ssh" }}
{{ range .hosts }}
Host {{ .host }}
  User {{ .user }}
{{- if hasKey . "host_name" }}
  HostName {{ .host_name }}
{{- end }}
{{- if hasKey . "identity_agent" }}
  IdentityAgent {{ .identity_agent }}
{{- end }}
{{- if hasKey . "identity_file" }}
  IdentityFile {{ .identity_file }}
{{- end }}
{{ end }}
{{- end }}
