# See https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-quickstart.html
#
[default]
  region = {{ .aws.region }}
  output = {{ .aws.output }}
  credential_process = {{ .aws.credential_process }}
