[default]
# {{ output "gopass" "show" "aws/anthony.roussel17@gmail.com" "arn" | trim }}
aws_access_key_id = {{ output "gopass" "show" "aws/anthony.roussel17@gmail.com" "login" | trim }}
aws_secret_access_key = {{ gopass "aws/anthony.roussel17@gmail.com" }}
