# See https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-quickstart.html
#
# AWS Default configuration
#
{{- with get . "aws" }}
[default]
region = {{ .default.region }}
output = {{ .default.output }}
{{- if hasKey .default "credential_process" }}
credential_process = {{ .default.credential_process }}
{{ end }}

{{- if hasKey . "profiles" }}
# AWS Profiles
#
{{- range .profiles }}
[profile {{ .name }}]
region = {{ .region }}
output = {{ .output }}
{{- if hasKey . "credential_process" }}
credential_process = {{ .credential_process }}
{{- end -}}
{{- if hasKey . "source_profile" }}
source_profile = {{ .source_profile }}
{{- end -}}
{{- if hasKey . "role_arn" }}
role_arn = {{ .role_arn }}
{{- end -}}
{{- if hasKey . "mfa_serial" }}
mfa_serial = {{ .mfa_serial }}
{{- end -}}
{{- if hasKey . "duration_seconds" }}
duration_seconds = {{ .duration_seconds }}
{{- end }}
{{ end }}
{{ end }}
{{- end }}
