{
{{- if hasKey . "proxy" }}
  "proxies": {
    "default": {
      "httpProxy": "{{ .proxy.http }}",
      "httpsProxy": "{{ .proxy.https }}",
      "noProxy": "{{ .proxy.exclusions | join "," }}"
    }
  }
{{- end }}
}
